.circle {
    width: 10px;
    height: 10px;
    background-color: #f05;
    border-radius: 50%;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: #141D2A;
} 
