.vid {
    background-color: #000;
    width: 192px;
    height: 109px;
    opacity: 90%;
    border-radius: 10%;
}

.play {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    opacity: 75%;
    padding: 0%;
    border: #000;
    transition: all 0.3s ease-in-out;
}

.play:hover {
    height: 24px;
    width: 24px;
    opacity: 100%;
    background-color: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-radius: 25%;
    animation: none;
    transform: rotate(90deg);
}
